.container__small-card{
  width: 600px;
  margin-bottom: 15px;
}
.container__small-content{
  display: flex;
  flex-direction: row;
}
.small-card__photo > img{
  width: 200px;
  min-width: 200px;
  margin-right: 20px;
  border-radius: 0.5rem;
}
.small-card__title{
  display: flex;
}
.container__small-card__separator{
  margin-top: 10px;
}
@media screen and (max-width:480px){
  .container__small-content{
    padding: 15px;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .small-card__title{
    max-width: 250px;
  }

  .small-card__title h1{
    font-size: 1.3rem;
    font-weight: 600;
  }
  .small-card__photo > img{
    width: 350px;
  }

}