
<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
      <app-big-card
      Id = "1" 
      photoCover="https://images.unsplash.com/photo-1586275381277-ef645628e280?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80"
      cardTitle="Aprenda a diferenciar cactos de suculentas"
      cardDescription="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum leo nisi, finibus convallis eleifend id, tincidunt sed turpis. Suspendisse congue turpis a varius blandit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos"></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
    Id = "2"  
      photoCover="https://images.unsplash.com/photo-1587119444490-164aa912eab0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fGNhY3R1cyUyMHBsYW50fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
      cardTitle="10 suculentas e cactus curiosos">
    </app-small-card>

    <app-small-card 
      Id = "3" 
      photoCover="https://images.unsplash.com/photo-1523575708161-ad0fc2a9b951?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
      cardTitle="Jardins de suculentas e 
      cactus que são para inspiração ">
    </app-small-card>

    <app-small-card 
      Id = "4" 
      photoCover="https://images.unsplash.com/photo-1621868185228-f84f532f1091?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OTl8fGNhY3R1cyUyMHBsYW50fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
      cardTitle="Como fazer as suculentas e cactos florirem">
    </app-small-card>

  </div>
</div>

<div class="articles__post-box">

    <app-posts
    Id = "5" 
     photoCover="https://images.unsplash.com/photo-1526565782131-a13074f0dbbb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8ODZ8fGNhY3R1cyUyMHBsYW50fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
     cardCategory = "Suculentas "
     cardTitle= "5 melhores suculentas para sua mesa de trabalho "
     cardDescription = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum leo nisi, finibus convallis eleifend id, tincidunt sed turpis. Suspendisse congue turpis a varius blandit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos
     "
     cardDate = "12 Ago 2022 "
    ></app-posts>

    <app-posts
    Id = "6" 
    photoCover="https://images.unsplash.com/photo-1595169269486-4e46d9b9a8d4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTQxfHxjYWN0dXMlMjBwbGFudHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
    cardCategory = "Cuidados"
    cardTitle= "Como salvar suculentas e cactos que estão apodrecendo "
    cardDescription = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum leo nisi, finibus convallis eleifend id, tincidunt sed turpis. Suspendisse congue turpis a varius blandit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos
    "
    cardDate = "12 Jun 2022 "
   ></app-posts>

   <app-posts
   Id = "7" 
   photoCover="https://plus.unsplash.com/premium_photo-1661749281562-19abd7fe4670?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTIwfHxjYWN0dXMlMjBwbGFudHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
   cardCategory = "Cuidados "
   cardTitle= "Como fazer terrários fechados e abertos"
   cardDescription = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum leo nisi, finibus convallis eleifend id, tincidunt sed turpis. Suspendisse congue turpis a varius blandit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos
   "
   cardDate = "10 Mar 2022 "
  ></app-posts>


  <app-posts
  Id = "8" 
   photoCover="https://images.unsplash.com/photo-1517024785852-498ab0c02de5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=861&q=80"
   cardCategory = "Suculentas "
   cardTitle = "Como comprar suculentas saudáveis "
   cardDescription = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum leo nisi, finibus convallis eleifend id, tincidunt sed turpis. Suspendisse congue turpis a varius blandit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos
   "
   cardDate = "24 Mar 2022 "
  ></app-posts>

   
</div>