*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
 background-color: #ffff;
}
li{
  list-style: none;
}
a{
  color: hsl(152, 4%, 15%);
  text-decoration: none;
}
img{
  width: 100%;
}
